<!DOCTYPE html>

{{#> common/body
    title=pages.divisions_list.pageTitle
    class="divisions_list-page"
}}
    {{> layout/header title='pages.divisions_list.title'}}

    <main class="wrapper">

        <div class="container">
            {{> common/breadcrumbs}}

            <div class="content"> 
                <div class="content__header">
                    <h1 class="content__title_main">Институты</h1>
                </div>

                <div class="content__wrapper">
                    <h2 class="divisions__title">Общевузовские кафедры (дополнительный заголовок)</h2>
                    <ul class="divisions__list">
                        {{#each pages.divisions_list.items}}
                            <li class="divisions__item">
                                <a href="" class="divisions__link">
                                    <div class="divisions__left">
                                        <img class="divisions__image"  src="{{this.image}}" alt="divisions">
                                        <p class="divisions__position">{{this.position}}</p>
                                        <h4 class="divisions__name">{{this.name}}</h4>
                                    </div>
                                    <div class="divisions__right _toggle">
                                        <div class="divisions__header  _toggle__button">
                                            <h2 class="divisions__subtitle">{{this.subtitle}}</h2>
                                            <div class="divisions__social__list social__list">
                                                <object class="divisions__social__item social__item">
                                                    <a href="{{this.link-tg}}"><img src="img/icon-telegram_b.svg" alt="telegram"></a>
                                                </object>
                                                <object class="divisions__social__item social__item">
                                                    <a href="{{this.link-vk}}"><img src="img/icon-vk_b.svg" alt="vk"></a>
                                                </object>
                                                <object class="divisions__social__item social__item">
                                                    <a href="{{this.link-tiktok}}"><img src="img/icon-tiktok_b.svg" alt="tiktok"></a>
                                                </object>
                                                <object class="divisions__social__item social__item">
                                                    <a href="{{this.link-youtube}}"><img src="img/icon-youtube_b.svg" alt="youtube"></a>
                                                </object>
                                            </div>
                                            <button class="divisions__button button button_more button_round"></button>
                                        </div>

                                        <div class="divisions__container _toggle__container">
                                            <p class="divisions__address link_address"><span class="divisions__address_highlighted">Адрес:</span>{{this.address}}</p>
                                            <object>
                                                <a class="divisions__email link_email" href="mailto:{{this.email_main}}"><span class="divisions__address_highlighted">e-mail:</span>{{this.email_main}}</a>
                                            </object>
                                            <div class="divisions__contacts">
                                                <div class="divisions__col">
                                                    <p class="divisions__post">{{this.post_1}}</p>
                                                    <object>
                                                        <a class="divisions__phone link_phone" href="tel:{{this.phone-link_1}}">{{this.phone_1}}</a>
                                                    </object>
                                                    <object>
                                                        <a class="divisions__email link_email" href="mailto:{{this.email_1}}">{{this.email_1}}</a>
                                                    </object>
                                                </div>
                                                <div class="divisions__col">
                                                    <p class="divisions__post">{{this.post_2}}</p>
                                                    <object>
                                                        <a class="divisions__phone link_phone" href="tel:{{this.phone-link_2}}">{{this.phone_2}}</a>
                                                    </object>
                                                    <object>
                                                        <a class="divisions__email link_email" href="mailto:{{this.email_2}}">{{this.email_2}}</a>
                                                    </object>
                                                </div>
                                                <div class="divisions__col">
                                                    <p class="divisions__post">{{this.post_3}}</p>
                                                    <object>
                                                        <a class="divisions__phone link_phone" href="tel:{{this.phone-link_3}}">{{this.phone_3}}</a>
                                                    </object>
                                                    <object>
                                                        <a class="divisions__email link_email" href="mailto:{{this.email_3}}">{{this.email_3}}</a>
                                                    </object>
                                                </div>
                                                <div class="divisions__social__list social__list">
                                                    <object class="divisions__social__item social__item">
                                                        <a href="{{this.link-tg}}"><img src="img/icon-telegram_b.svg" alt="telegram"></a>
                                                    </object>
                                                    <object class="divisions__social__item social__item">
                                                        <a href="{{this.link-vk}}"><img src="img/icon-vk_b.svg" alt="vk"></a>
                                                    </object>
                                                    <object class="divisions__social__item social__item">
                                                        <a href="{{this.link-tiktok}}"><img src="img/icon-tiktok_b.svg" alt="tiktok"></a>
                                                    </object>
                                                    <object class="divisions__social__item social__item">
                                                        <a href="{{this.link-youtube}}"><img src="img/icon-youtube_b.svg" alt="youtube"></a>
                                                    </object>
                                                </div>
                                                
                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>


        </div>


    </main>

    {{> layout/footer}}
{{/common/body}}

