
    <ul class="nav__list {{class}}">
        {{#each items}}
            <li class="nav__item _toggle">
                <a href="{{this.link}}" class="nav__link _toggle__button {{#if this.items}}nav__link_more{{/if}}">{{this.name}}</a>
                {{#if this.items}}
                    <div class="nav__wrapper _toggle__container">
                        <ul class="nav__sub container">
                            {{#each this.items}}
                            <li class="nav__sub__item">
                                <a href="{{this.link}}" class="nav__sub__link">{{this.name}}</a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
            </li>
        {{/each}}
    </ul>